# COGS  - Final Project

https://docs.google.com/document/d/1IMQ9_9TBsWFXKovrPqFjuonHIWj6UqlheJpqwwFu0hw/edit?usp=sharing

# Names

- Shenova Davis
- Lauren Lui
- Vincent Sgherzi

# Introduction

Houses are one of the most expensive purchases families make in their lifetime. With housing prices spiraling out of control it is often difficult to determine what physical characteristics of a house most directly influence the sale price. Although price is a determining factor in the choosing of a house, other factors also play a key role, such as the location of the house and the specific house attributes.

Our project aims to find the most important physical attributes of a house that influence sales price.

# Question

What physical characteristics of a house most influence the sale price in a neighborhood?

# Hypothesis

Houses located in high density population areas will most affect sales price with ocean proximity being a secondary factor.

# Setup

In [1]:
# import
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Data

The dataset used is pulled from Kaggle at https://www.kaggle.com/datasets/shibumohapatra/house-price, which collects data on California housing prices. Described below are the features in our dataset:
- Longitude: Longitude value for the block in California, USA
- Latitude: Latitude value for the block in California, USA
- Housing_median_age: Median age of the house in the block
- Total_rooms: Count of the total number of rooms (excluding bedrooms) in all houses in the block
- Total_bedrooms: Count of the total number of bedrooms in all houses in the block
- Population: Count of the total number of population in the block
- Households: Count of the total number of households in the block
- Median_income: Median of the total household income of all the houses in the block
- Ocean_proximity: Type of the landscape of the block [ Unique Values : 'NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND' ]
- Median_house_value: Median of the household prices of all the houses in the block



In addition, more information on our dataset as for relevance is as follows:
- Number of observations: 20,600 observations
- Relevant predictors: 7 predictors
    - population
    - ocean proximity (longitude, latitude)
    - median house value
    - number of households
    - total rooms
    - house median age

To clean the data, first we need to drop all variables that are not needed as well as dropping the observations with missing data.

In [2]:
# read data
df = pd.read_csv('house.csv')

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [4]:
# clean data by renaming columns, dropping columns, and removing missing values
df = df.rename(columns={'housing_median_age': 'median_age', 
                        'median_house_value': 'median_price'})
df = df.drop(columns = ['total_bedrooms'])
df = df.dropna(axis='index')

In [5]:
# adjust output of ocean_proximty column
df['ocean_proximity'].unique()

# get one hot encoding 
one_hot = pd.get_dummies(df['ocean_proximity'])
# drop current ocean_proximity as it is now encoded
df = df.drop('ocean_proximity',axis = 1)
# join the encoded df
df = df.join(one_hot)

# rename columns
df = df.rename(columns={'<1H OCEAN': '<1h_ocean', 
                        'INLAND': 'inland', 'ISLAND': 
                        'island', 'NEAR BAY': 'near_bay', 
                        'NEAR OCEAN': 'near_ocean'})

df

,longitude,latitude,median_age,total_rooms,population,households,median_income,median_price,<1h_ocean,inland,island,near_bay,near_ocean
0,-122.23,37.88,41,880,322,126,8.3252,452600,0,0,0,1,0
1,-122.22,37.86,21,7099,2401,1138,8.3014,358500,0,0,0,1,0
2,-122.24,37.85,52,1467,496,177,7.2574,352100,0,0,0,1,0
3,-122.25,37.85,52,1274,558,219,5.6431,341300,0,0,0,1,0
4,-122.25,37.85,52,1627,565,259,3.8462,342200,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,845,330,1.5603,78100,0,1,0,0,0
20636,-121.21,39.49,18,697,356,114,2.5568,77100,0,1,0,0,0
20637,-121.22,39.43,17,2254,1007,433,1.7000,92300,0,1,0,0,0
20638,-121.32,39.43,18,1860,741,349,1.8672,84700,0,1,0,0,0
20639,-121.24,39.37,16,2785,1387,530,2.3886,89400,0,1,0,0,0